# unfortunately, eslint likes to load plugins dynamically. And traditionally,
# dynamic plugins relied on npm's package hoisting anti-feature. This is a
# workaround to ensure that the plugins are loaded.
public-hoist-pattern=*eslint*
